body{
    background: url(https://s3-alpha-sig.figma.com/img/9692/e49a/b68a62573224fdce958545e18966a88d?Expires=1691366400&Signature=p68IOeYs7l0UQG~YuKXT2tyyCIr3CDVnUCycSn~pkqxNdJdMG1pbFBL5Sd41uoe07ps~XHsT3cGg3jTTbJfHRAdviHsAvfrR0chXyZMCpdc5ClQL8VZXfx9~J7ncUXxD6dHhik4NsnNL3OFQ5osrp5VTfSHyyA6LlYzAH~THKLeVp4OGDCBFSFDtmU9FbE0NlBnIMtMxM9famqA4g6Lxe~1QCJHPw6anid5grAthNmn0Nz3LDXkTHc1BqDnkSZ77QgpqJHimBdUGCNQ9doLsboeZC0FTgiGwXn~JIYd0JthIJSYfzLr-uozIp~IcuaBvhL~LYV7G69alO4bxjLIXqA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    }

*,
*::after,
*::before {
    box-sizing: border-box;
}

                    /*HEADER*/
                 

.header{
    display: flex;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    padding: 46px 0 17px;
    align-items: center;
    justify-content: space-around;
  
}

.logo-img{
    position: relative;
    width: 53px;
    height: 47px;      
}
.logo-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url("../images/logo\ 3.png");     
}

.logo-img:hover::before{
    background-image: url("../images/logo\ 2.png");
}

.logo-text{
   margin-left: 59px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   color: #fff; 
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 26px;
   text-decoration: none;
   text-transform: uppercase;
}

 a{
    text-decoration: none;    
 }

.logo :hover span{
    color: #F26522;     
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 30px;  
    font-weight: 400; 
    padding-top: 15px;
    transition: color 0.2s linear;  
}

 a{
    color: #fff;
}

.contacts :hover{
    color: #F26522;
}



           /*MAIN*/

.main{    
display: grid;
grid-template-columns: repeat(3, 360px);
grid-template-rows: 264px;
justify-content: center;
gap: 28px;
margin-left: 55px;
text-align: center;
}

.tours{
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 5px;
}

.decoration-img{
    position: relative;
    overflow: hidden;
}

.decoration:hover .detailes{
    opacity:1;
    transition-duration: 400ms;
    bottom: 0;   
}

.detailes{
    position: absolute;
    background-color: #F26522;
    width: 304px;
    bottom: -120px;    
}

.from{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    padding-left: 15px;
    margin-bottom: 0px;
}

.view-detailes{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between; 
    padding-left: 15px;
    align-items: baseline;
}

.view-detailes span{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.view-detailes p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-left: 30px;
}

.view-detailes p::after{
    content: url(../images/Vector\ 1.png);
    display: inline-block;
    width: 5px;
    height: 10px;
    stroke-width: 1px;
    stroke: #FFF;
    padding-left: 12px;
    padding-right: 30px;
}

.decoration:hover .decopation-text{
    color: #F26522;
    transition-duration: 500ms;
}


/*FOOTER.*/

.footer-text {
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 160px;  
}
 